# **Final Project - Lập trình cho Khoa học Dữ liệu**

## **Thông tin nhóm**

#### Thành viên 1:
* **Họ và tên:** Võ Duy Anh
* **MSSV:** 21127221

#### Thành viên 2:
* **Họ và tên:** Nguyễn Mậu Gia Bảo
* **MSSV:** 21127583

## **Thông tin đồ án**

### **Nội dung**
1. Collecting data
2. Exploring data
3. Asking meaningful questions
4. Preprocessing + analyzing data to answer each question
5. Reflection
6. References

### **Thư viện hỗ trợ**

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### **1. Collecting data**

#### What subject is your data about? What is the source of your data?

* Dataset name: Airline Dataset
* The dataset contains information about passengers and their flights collected around the world
* The dataset was collected and the team got it from the Kaggle website
[Airline Dataset](https://www.kaggle.com/datasets/iamsouravbanerjee/airline-dataset/)

#### Do authors of this data allow you to use like this? You can check the data license

* The dataset is publicly available under the license: [CC0: Public Domain](https://creativecommons.org/publicdomain/zero/1.0/)

> CC0: Public Domain. 
    The person who associated a work with this deed has dedicated the work to the public domain by waiving all of his or her rights to the work worldwide under copyright law, including all related and neighboring rights, to the extent allowed by law.
    **You can copy, modify, distribute and perform the work, even for commercial purposes, all without asking permission.**

#### How did authors collect data?

* The dataset is collected from the online platform [Mockaroo](https://www.mockaroo.com/). To ensure customers' personal information, the website provides customized aggregated data that is close to actual information.

### **2.Exploring data**

In [3]:
data = pd.read_csv("Airline Dataset.csv")
data

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,58454,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12/11/2022,HAA,Gareth Mugford,Cancelled
98615,22028,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Kasey Benedict,Cancelled
98616,61732,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,9/10/2022,ABC,Darrin Lucken,On Time
98617,19819,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Gayle Lievesley,Cancelled
98618,14485,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Wilhelmine Touret,Delayed

#### How many rows and how many columns does the data have?

In [4]:
shape = data.shape

In [5]:
row = data.shape[0]
col = data.shape[1]
print(f'Data have {row} rows and {col} columns')

Data have 98619 rows and 15 columns

#### What is the meaning of each row?

Mỗi dòng là thông tin của 1 hành khách và chuyến bay cụ thể

#### Does the data have duplicate rows?

In [6]:
index = data.index
detectDupSeries = index.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()

In [7]:
# TEST
if num_duplicated_rows == 0:
    print(f"Data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Data have {num_duplicated_rows} duplicated " + ext + ".")

Data have no duplicated line.!

#### What is the meaning of each column?

|Cột|Ý nghĩa|
|---|---|
|**Passenger ID**|Mã định danh duy nhất cho mỗi hành khách| 
|**First Name**|Tên của hành khách|
|**Last Name**|Họ của hành khách|
|**Gender**|Giới tính của hành khách|
|**Age**|Tuổi của hành khách|
|**Nationality**|Quốc tịch của hành khách|
|**Airport Name**|Tên sân bay nơi hành khách lên máy bay|
|**Airport Country Code**|Mã quốc gia của sân bay xuất phát|
|**Country Name**|Tên quốc gia của sân bay xuất phát|
|**Airport Continent**|Châu lục của sân bay xuất phát|
|**Continents**|Các châu lục liên quan đến đường bay|
|**Departure Date**|Ngày chuyến bay khởi hành|
|**Arrival Airport**|Sân bay đến của chuyến bay|
|**Pilot Name**|Tên phi công điều hành chuyến bay|
|**Flight Status**|Tình trạng hiện tại của chuyến bay (ví dụ: đúng giờ, bị hoãn, bị hủy)|

#### What is the current data type of each column? Are there columns having inappropriate data types?

In [8]:
column_types = data.dtypes
print(column_types)

Passenger ID             int64
First Name              object
Last Name               object
Gender                  object
Age                      int64
Nationality             object
Airport Name            object
Airport Country Code    object
Country Name            object
Airport Continent       object
Continents              object
Departure Date          object
Arrival Airport         object
Pilot Name              object
Flight Status           object
dtype: object

* Các cột `First Name`, `Last Name`, `Gender `, `Nationality`, `Airport Name`, `Airport Country Code`, `Country Name `, `Airport Continent`, `Continents`, `Arrival Airport`, `Pilot Name`,`Flight Status` có kiểu dữ liệu ở dạng chuỗi, kiểu dữ liệu này đã phù hợp.
* Cột `Age` có kiểu dữ liệu là int64, kiểu dữ liệu này đã phù hợp.
* Cột `Departure Date` có kiểu dữ liệu ở dạng chuỗi. Để thuận tiện hơn cho việc xử lý thời gian, cần chuyển về dạng Datetime
* Cột `Passenger ID ` có kiểu dữ liệu là int64. Tuy nhiên vì đây là mã định danh duy nhất của mỗi hành khách, cần chuyển về dạng chuỗi

In [9]:
data['Departure Date'] = pd.to_datetime(data['Departure Date'], format='%m/%d/%Y')
data['Passenger ID'] = data['Passenger ID'].astype(str)
column_types = data.dtypes
print(column_types)

Passenger ID                    object
First Name                      object
Last Name                       object
Gender                          object
Age                              int64
Nationality                     object
Airport Name                    object
Airport Country Code            object
Country Name                    object
Airport Continent               object
Continents                      object
Departure Date          datetime64[ns]
Arrival Airport                 object
Pilot Name                      object
Flight Status                   object
dtype: object

#### For each column with numeric data type, how are the values distributed?

##### What is the percentage of missing values?

Ở cột `Age` và `Departure Date`, nhóm em xem tỉ lệ phần trăm dữ liệu bị thiếu là bao nhiêu

In [17]:
numDate_col_info_df =data.select_dtypes(exclude='object')
missing_percentage = (numDate_col_info_df.isnull().mean()) * 100
print('Percentage of missing values: ')
print(missing_percentage)

Percentage of missing values:
Age               0.0
Departure Date    0.0
dtype: float64

Như vậy ở cả 2 cột đều đủ dữ liệu

##### Vì dữ liệu chỉ có cột `Age` là có kiểu dữ liệu là số nên nhóm em sẽ tính **min, lower quartile, median, upper quartile, max** trên cột `Age`

In [11]:
min_value = data['Age'].min()
max_value = data['Age'].max()
median_value = data['Age'].median()
lower_value = data['Age'].quantile(0.25)
upper_quartile_value = data['Age'].quantile(0.75)

print(f"Min: {min_value}")
print(f"Max: {max_value}")
print(f"Median: {median_value}")
print(f"Lower quartile: {lower_value}")
print(f"Upper quartile: {upper_quartile_value}")

Min: 1
Max: 90
Median: 46.0
Lower quartile: 23.0
Upper quartile: 68.0

##### Min, Max trên cột `Departure Date`

In [16]:
min_value = data['Departure Date'].min()
max_value = data['Departure Date'].max()

print(f"Min: {min_value}")
print(f"Max: {max_value}")

Min: 2022-01-01 00:00:00
Max: 2022-12-30 00:00:00

#### For each column with a non-numeric data type, how are the values distributed?

In [12]:
nonNum_col_info_df = data.select_dtypes(include='object')

##### What is the percentage of missing values?

In [13]:
missing_percentage_nonNum = (nonNum_col_info_df.isnull().mean()) * 100
print('Percentage of missing values: ')
print(missing_percentage_nonNum)

Percentage of missing values:
Passenger ID            0.0
First Name              0.0
Last Name               0.0
Gender                  0.0
Nationality             0.0
Airport Name            0.0
Airport Country Code    0.0
Country Name            0.0
Airport Continent       0.0
Continents              0.0
Arrival Airport         0.0
Pilot Name              0.0
Flight Status           0.0
dtype: float64

Như vậy toàn bộ các cột đều không bị thiếu dữ liệu

##### How many different values?

In [14]:
nonNum_col_unique_counts = nonNum_col_info_df.nunique()

# Hiển thị kết quả
print("Number of distinct values:")
print(nonNum_col_unique_counts)

Number of distinct values:
Passenger ID            59871
First Name               8437
Last Name               41658
Gender                      2
Nationality               240
Airport Name             9062
Airport Country Code      235
Country Name              235
Airport Continent           6
Continents                  6
Arrival Airport          9024
Pilot Name              98610
Flight Status               3
dtype: int64

### **3. Asking meaningful questions**

#### Mức độ phân bố tuổi của hành khách là như thế nào?

#### Tỷ lệ on time, delayed, cancelled so với tổng thể ở từng quốc gia, châu lục?

#### Quốc gia, châu lục nào có số lượng hành khách nhiều nhất?

#### Thời gian trung bình mà các chuyến bay đã diễn ra?

### **4. Preprocessing + analyzing data to answer each question**