# **Final Project - Lập trình cho Khoa học Dữ liệu**

### **Thông tin nhóm**

##### Thành viên 1:
* **Họ và tên:** Võ Duy Anh
* **MSSV:** 21127221

##### Thành viên 2:
* **Họ và tên:** Nguyễn Mậu Gia Bảo
* **MSSV:** 21127583

### **Thông tin đồ án**

#### **Nội dung**
1. Collecting data
2. Exploring data
3. Asking meaningful questions
4. Preprocessing + analyzing data to answer each question
5. Reflection
6. References

#### **Thư viện hỗ trợ**

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#### **1. Collecting data**

##### What subject is your data about? What is the source of your data?

##### Do authors of this data allow you to use like this? You can check the data license

##### How did authors collect data?

#### **2.Exploring data**

In [2]:
data = pd.read_csv("Airline Dataset.csv")
data

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,10856,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,43872,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,42633,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,78493,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,82072,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98614,58454,Gareth,Mugford,Male,85,China,Hasvik Airport,NO,Norway,EU,Europe,12/11/2022,HAA,Gareth Mugford,Cancelled
98615,22028,Kasey,Benedict,Female,19,Russia,Ampampamena Airport,MG,Madagascar,AF,Africa,10/30/2022,IVA,Kasey Benedict,Cancelled
98616,61732,Darrin,Lucken,Male,65,Indonesia,Albacete-Los Llanos Airport,ES,Spain,EU,Europe,9/10/2022,ABC,Darrin Lucken,On Time
98617,19819,Gayle,Lievesley,Female,34,China,Gagnoa Airport,CI,Côte d'Ivoire,AF,Africa,10/26/2022,GGN,Gayle Lievesley,Cancelled
98618,14485,Wilhelmine,Touret,Female,10,Poland,Yoshkar-Ola Airport,RU,Russian Federation,EU,Europe,4/16/2022,JOK,Wilhelmine Touret,Delayed

##### How many rows and how many columns?

In [3]:
shape = data.shape

In [4]:
row = data.shape[0]
col = data.shape[1]
print(f'Dữ liệu có {row} dòng và {col} cột')

Dữ liệu có 98619 dòng và 15 cột

##### What is the meaning of each row?

Mỗi dòng là thông tin của 1 hành khách và chuyến bay cụ thể

##### Are there duplicated rows?

In [5]:
duplicated = data.duplicated().sum() > 0
if duplicated:
    print("Dữ liệu có các dòng bị lặp")
else:
    print("Dữ liệu không có các dòng bị lặp")

Dữ liệu không có các dòng bị lặp

##### What is the meaning of each column?

|Cột|Ý nghĩa|
|---|---|
|**Passenger ID**|Mã định danh duy nhất cho mỗi hành khách| 
|**First Name**|Tên của hành khách|
|**Last Name**|Họ của hành khách|
|**Gender**|Giới tính của hành khách|
|**Age**|Tuổi của hành khách|
|**Nationality**|Quốc tịch của hành khách|
|**Airport Name**|Tên sân bay nơi hành khách lên máy bay|
|**Airport Country Code**|Mã quốc gia của sân bay xuất phát|
|**Country Name**|Tên quốc gia của sân bay xuất phát|
|**Airport Continent**|Châu lục của sân bay xuất phát|
|**Continents**|Các châu lục liên quan đến đường bay|
|**Departure Date**|Ngày chuyến bay khởi hành|
|**Arrival Airport**|Sân bay đến của chuyến bay|
|**Pilot Name**|Tên phi công điều hành chuyến bay|
|**Flight Status**|Tình trạng hiện tại của chuyến bay (ví dụ: đúng giờ, bị hoãn, bị hủy)|

##### What is the current data type of each column? Are there columns having inappropriate data types?

In [6]:
column_types = data.dtypes
print(column_types)

Passenger ID             int64
First Name              object
Last Name               object
Gender                  object
Age                      int64
Nationality             object
Airport Name            object
Airport Country Code    object
Country Name            object
Airport Continent       object
Continents              object
Departure Date          object
Arrival Airport         object
Pilot Name              object
Flight Status           object
dtype: object

Nhìn chung, phần lớn các cột đều đúng kiểu dữ liệu. Riêng chỉ có cột Departure Date cần đưa về kiểu dữ liệu datetime

In [7]:
data['Departure Date'] = pd.to_datetime(data['Departure Date'], format='%m/%d/%Y')
column_types = data.dtypes
print(column_types)

Passenger ID                     int64
First Name                      object
Last Name                       object
Gender                          object
Age                              int64
Nationality                     object
Airport Name                    object
Airport Country Code            object
Country Name                    object
Airport Continent               object
Continents                      object
Departure Date          datetime64[ns]
Arrival Airport                 object
Pilot Name                      object
Flight Status                   object
dtype: object

##### With each numerical column, how are values distributed?

##### With each categorical column, how are values distributed?

In [14]:
cat_col_info_df = data.select_dtypes(include='object')

def missing_ratio(s):
    # raise NotImplementedError()
    return (s.isna().mean() * 100).round(1)

def num_values(s):
    # raise NotImplementedError()
    s = s.str.split(';')
    s = s.explode()
    return len(s.value_counts())

def value_ratios(s):
    # raise NotImplementedError()
    s = s.str.split(';')
    s = s.explode()
    totalCount = (~s.isna()).sum()
    return ((s.value_counts()/totalCount*100).round(1)).to_dict()

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df

,First Name,Last Name,Gender,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Arrival Airport,Pilot Name,Flight Status
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,8438,41659,2,240,9062,235,235,6,6,9024,98612,3
value_ratios,"{'Gale': 0.0, 'Brett': 0.0, 'Gerrie': 0.0, 'Co...","{'Dyball': 0.0, 'Capron': 0.0, 'Ducker': 0.0, ...","{'Male': 50.3, 'Female': 49.7}","{'China': 18.6, 'Indonesia': 10.7, 'Russia': 5...","{'San Pedro Airport': 0.0, 'Santa Maria Airpor...","{'US': 22.4, 'AU': 6.5, 'CA': 5.5, 'BR': 4.6, ...","{'United States': 22.4, 'Australia': 6.5, 'Can...","{'NAM': 32.5, 'AS': 18.9, 'OC': 14.1, 'EU': 12...","{'North America': 32.5, 'Asia': 18.9, 'Oceania...","{'0': 0.9, 'JNB': 0.0, 'PHM': 0.0, 'MPT': 0.0,...","{'L': 0.0, 'Brig Shuxsmith': 0.0, '': 0.0, 'Pe...","{'Cancelled': 33.4, 'On Time': 33.3, 'Delayed'..."